<%# javascript_pack_tag "users/profiles" %>

<% provide(:title,  "プロフィール一覧") %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>名前</th>
          </tr>
        </thead>
        <tbody>
          <% @profiles.each do |profile| %>
              <td><%= link_to(profile.name, "/users/profiles/#{profile.id}") %></td>
          <% end %>
        </tbody>
      </div>
    </table>
  </div>
</div>
