.chat-room-show-page {
  position: relative;
  max-width: 100%; /* 画面いっぱいに広がるように */
  min-height: 100vh; /* 最小でも画面の高さと同じに */
  width: 70%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #7494C0;
}

.chat-room-header {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #fafafa;
  background-color: #7494C0;
  z-index: 10;
}

.chat-room-partner {
  display: flex;
  align-items: center;
}

.chat-room-partner-name {
  margin-right: 8px;
  font-weight: bold;
  color: black;
  vertical-align: middle;
}

.chat-room-partner-default-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../../../../public/uploads/article/image/44/user_default.png");
  background-size: contain;
}

.chat-room-partner-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-messages-spacer {
  height: 70px; /* フォームの高さに合わせて調整 */
}

.chat-room-fixed-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* 必要に応じて調整 */
  background-color: none; /* スクロール時の背景透過を防ぐ */
}

.chat-room-message-form {
  margin: 0 auto;
  width: 90%; /* フォームの幅を調整 */
}

.chat-room-message-form-textarea {
  width: 100%; /* テキストエリアの幅を調整 */
}

.chat-message-partner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat-message-partner-default-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url("../../../../public/uploads/article/image/44/user_default.png");
  background-size: contain;
  margin-left: 8px;
}

.chat-message-partner-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-left: 8px;
}

.chat-message-content {
  margin: 4px 8px 4px;
  padding: 8px 12px;
  max-width: 70%;
  color: #555;
  font-size: 20px;
  border-radius: 8px;
  background: #f1f1f1;
}

.chat-message-current-user {
  display: flex;
  justify-content: flex-end;
}

.main-color-bg {
  background: #8DE055;
  color: #000000;
}

textarea:focus {
  outline: none;
}

@media (max-width: 767px) {
  .table-scroll {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
}
