<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editCategoryModalLabel">カテゴリー編集</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div id="categoryEditForm">
        <%= render "modal_category_form", category: @category %>
      </div>
    </div>
  </div>
</div>
