<table class="table table-hover articles-table">
  <thead>
    <tr>
      <% if dashboard %>
       <th class="px-5">投稿した記事</th>
      <% else %>
        <th class="px-5">タイトル</th>
        <th class="px-5">著者</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
      <tr data-href="/users/articles/<%= a.id %>" class="tr-link">
        <% if dashboard %>
          <td><%= a.title %></td>
        <% else %>
          <td><%= a.title %></td>
          <td><%= @users.find(a.user_id).name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
