<h1 style="text-align:center;">お問い合わせ</h1>
<br>

<div style="text-align:center;">

    <div class="field">
        <label>件名</label>
        <textarea id="subject" name="subject" rows="2" cols="90" readonly style="resize: none; font-size: 16px;"><%= @inquiries.subject %></textarea>
    </div>

    
    <div class="field">
        <label>内容aa</label>
        <textarea id="content" name="content" rows="9" cols="90" readonly style="resize: none; font-size: 16px;"><%= @inquiries.content %></textarea>
    </div>
</div>



