<% provide(:label_text, "投稿を編集") %>
<% provide(:btn_text, "編集") %>
<div class="content">
  <div class="container-fluid"> 
    <div class="row">
      <%= render 'form2' %>
    </div>
  </div>
</div>

