@import "bootstrap";
@import "admin-lte";
@import '@fortawesome/fontawesome-free';
@import './admins/custom';

.Editlink {
  text-decoration: none;
  color: white ;
}

.Editlink:hover {
  text-decoration: none;
  color: white ;
}

.profile-title-form {
  width: 450px;
}