<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table tweets-table">
          <thead>
            <tr>
              <th class="px-5">タイトル</th>
              <th class="px-5">サブタイトル</th>
              <% unless dashboard %>
                <th class="px-5">投稿者</th>
              <% end %>
              <th class="px-5">投稿日</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
