<div class="content">
  <div class="container">
    <% @tweets.each do |tweet| %>
      <table class= "table">
        <div class="tweets-index-item">
          <div class="fw-bold">
          <%= tweet.user.name %>
            <span style="margin-right: 1em;"></span>
            <%= tweet.user.created_at.strftime("%Y年%m月%d日").to_s %>
          </div>
        <div class="text-wrap" style="width: 28rem;">
          <%= tweet.post %>
        </div>
      </div>
    </table>
    <% end %>
  </div>
</div>
