<div class="modal fade" id="sortFilterModal" tabindex="-1" aria-labelledby="sortFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="sortFilterModalLabel">絞り込み検索</h5>
        <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="form-group mb-3">
          <label for="input-author" class="form-label">投稿者</label>
          <input type="text" id="input-author" class="form-control" value="<%= params[:author] %>">
        </div>
        <div class="form-group mb-3">
          <label for="input-post" class="form-label">投稿内容</label>
          <input type="text" id="input-post" class="form-control" value="<%= params[:post] %>">
        </div>
        <div class="form-group mb-3">
          <label for="input-created" class="form-label">投稿日時</label>
          <div class="d-flex justify-content-center align-items-center">
            <input type="date" id="input-start" class="form-control" value="<%= params[:start] %>">
            <span class="mx-2">〜</span>
            <input type="date" id="input-finish" class="form-control" value="<%= params[:finish] %>">
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary submit-btn">検索する</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
      </div>
    </div>
  </div>
</div>

<style>
.custom-modal-positio  transform: translateY(20%);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-body {
  width: 100%;
  max-width: 300px;
}

.modal-footer {
  b  padding-top: 0;
}

.form-control {
  text-align: center;
}

@media (max-  .custom-modal-position {
    transform: translateY(2000%);
  }
}
</style>
