<% if current_user != user %>  
  <% if current_user.following?(user) %>
    <%= link_to users_user_relationships_path(user_id: user), method: :delete, data: {confirm: "#{@user.name}をフォローから外しますか？"}, remote: true do %>
      <button type="button" class="btn btn-success btn-sm ml-2">フォロー中</button>
    <% end %>
  <% else %>
    <%= link_to users_user_relationships_path(user_id: user), method: :post, remote: true do %>
      <button type="button" class="btn btn-success btn-sm ml-2">フォローする</button>
    <% end %>
  <% end %>
<% end %>
