//以下new
.card-body {
  height: 2570px;
    // height: 100%;
  // max-height: 100%;
  // min-height: 90%;
}
.sticky {
  position: sticky;
  top: 15%;
  // max-height: 80%;
}

.preview {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  overflow: scroll;
  height: 500px;
}

.hr {
  border: 0.5px solid black;
  height: 0.1px;
}

