//show
.article-show {
  background-color: white;
  border-radius: 5px;
}

.article-comment-box::after{
  content: "";
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background: #d0cece;
}

.article-comment-content {
  padding: 0px 10px;
  word-break: break-all;
}

.article-comment-info {
  padding-left: 5px;
}

.article-comment-post-box {
  margin-top: 20px;
}

.article-new-comment-post {
  margin-left: 5px;
}

.article-comment-post-header {
  margin-bottom: 5px;
}

.article-comment-form {
  background-color: white;
  border: 1px solid;
  border-color: #d0cece;
  border-radius: 8px;
  margin: 10px 30px;
  padding: 10px;
}

.btn-submit {
  margin-top: 5px;
  text-align: right;
}

.has_no_comments {
  margin-top: 30px;
  text-align: center;
}

/* auto_line_break_img関数にimg-marginクラスを追加 */
.img-margin {
  display: block; //ブロック要素として扱う。つまり新しい行で開始し次の要素は新しい行で始まる。
  margin: 1em auto; //上下のマージンを1em,左右のマージンを自動（中央寄せ）で配置。
}

/* 記事詳細とプレビューのh1〜h6タグ下に動的に罫線を追加 */
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6,
.card-body h1, .card-body h2, .card-body h3, .card-body h4, .card-body h5, .card-body h6 {
  position: relative; // 親要素を基準に下の擬似要素の位置を決めるために記述。
}

.article-content h1::after,
.article-content h2::after,
.article-content h3::after,
.article-content h4::after,
.article-content h5::after,
.article-content h6::after,
.card-body h1::after,
.card-body h2::after,
.card-body h3::after,
.card-body h4::after,
.card-body h5::after,
.card-body h6::after {
  content: "";
  position: absolute; // 疑似要素を親要素を基準に位置を決めるために記述。
  left: 0;
  right: 0;
  bottom: -5px;
  height: 1px; // 罫線の高さ
  background: #d0cece; //罫線の色
}

.article-comments-card {
  padding: 5px 0px;
  background-color: white;
  border-radius: 5px;
}

//以下index
.articles-table {
  tr td {
    padding-left: 2rem;
  }
  .link-td:hover {
    cursor: pointer;
  }
}

.article-paginate {
  overflow-x: auto;
  display: block;
}


// 以下new
.editor-side {
  padding: 0;
  margin-left: 0;
}

.preview-side { 
  padding: 0;
  margin-right: 0; 
}

.preview {
  margin: 0;
}


.div-title-form, .div-subtitle-form {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; 
}

.markdown-editor {
  padding: 6px 12px;
}

.card-body, .editor-body {
  padding: 0;
}

@media (max-width: 767px) {
  .div-btns {
    position: fixed;
    bottom: 5px;
    width: 100%;
  }
}

// display: block;とすることでtable要素だけをスクロールの対象にできる。
@media (max-width: 767px) {
  .table-scroll {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
}

// markdown機能に関するスタイル

.marked-heading {
  margin: 56px 0px 16px;
}

