//show
.article-show {
  background-color: white;
  border-radius: 5px;
}

//以下index
.articles-table {
  tr td {
    padding-left: 2rem;
  }
  .link-tr:hover {
    cursor: pointer;
  }
  .span-subtitle {
    font-size: small;
  }
}
