.e-learning-index-item {
  padding: 10px 10px 10px 10px;
}

.learning-status-completed {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  margin-right: 5px;
}

.learning-status-incomplete {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  margin-right: 5px;
  color: #FFDEAD;
  background-color: #FFDEAD;
}

.article-button {
  padding: 0.2rem 0.5rem;
  margin-right: 5px;
  width: 100px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 0.75rem;
  margin-left: 5px;
}

.nextButton {
  background-color: #3498db;
  color: #ffffff;
}
