@import "bootstrap";
/*スクロールバーの実装 */
.table_sticky {
  display: block;
  overflow-y: scroll;
  height: calc(100vh/2);
  border:1px solid;
  border-collapse: collapse;
}
.table_sticky thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: gold;
  border-top:#FFFFFF;
}

// display: block;とすることでtable要素だけをスクロールの対象にできる。
@media (max-width: 767px) {
  .table-scroll {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
  .field input[type="text"] {
    width: 50%;
  }
}

/* コメント入力フォーム */
.post-comment-box::after{
  content: "";
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background: #d0cece;
}

.post-comment-content {
  padding: 0px 10px;
  word-break: break-all;
}

.post-comment-info {
  padding-left: 5px;
}

.post-comment-post-box {
  margin-top: 20px;
}

.post-new-comment-post {
  margin-left: 5px;
}

.post-comment-post-header {
  margin-bottom: 5px;
}

.post-comment-form {
  background-color: white;
  border: 1px solid;
  border-color: #d0cece;
  border-radius: 8px;
  margin: 10px 30px;
  padding: 10px;
}

.btn-comment-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.has_no_comments {
  margin-top: 30px;
  text-align: center;
}

.post-comments-card {
  padding: 5px 0px;
  background-color: white;
  border-radius: 5px;
}