.comment-left {
  float: left;
  width: 10%;
  color: red;
}

.comment-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.comment-bgcolor {
  background-color: rgb(255, 255, 255);
}

.comment-contents {
  padding-bottom: 10px;
}