<%= javascript_pack_tag "users/articles_new_and_edit" %>
<% provide(:title,  "記事編集") %>
<div class="content">
  <div class="container">
    <%= render "users/articles/shared/article_form_and_preview", btn_name: "更新", url: users_article_path, method: :patch %>
  </div>
</div>

<%# <p>サンプルコードを紹介します。</p>
<pre><code>var foo = function (bar) {
    return bar++;
};</code></pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script> %>