<%# javascript_pack_tag "users/articles" %>

<div class="container">
  <h1 class="text-center">記事編集</h1>
  <%= render "users/articles/shared/article_form_and_preview", btn_name: "更新", url: users_article_path, method: :patch %>
</div>
