<% provide(:title,  "記事一覧") %>
<% @articles.each do |item| %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <%= link_to item.title , users_article_path(item.id) %>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

<% end %>

