<%= javascript_pack_tag "users/articles_new_and_edit" %>
<% provide(:title,  "記事投稿") %>
<%= image_tag("avatar.png") %>
<div class="content">
  <div class="container">
    <%= render "users/articles/shared/article_form_and_preview", btn_name: "投稿", url: users_articles_path, method: :post %>
  </div>
</div>
