<%# javascript_pack_tag "users/articles" %>

<div class="container">
  <h1 class="text-center">記事投稿</h1>
  <%= render "users/articles/shared/article_form_and_preview", btn_name: "投稿", url: users_articles_path, method: :post %>
</div>
