<%= javascript_pack_tag 'users/stripe_checkout'%>
<% provide(:title,  "決済確認画面") %>

<div style="margin: 20px;">
  <div style="min-width: 50%;">受講料&nbsp;&nbsp;&nbsp;合計金額:1000円</div>
  <button id="goToOrderPage" style="min-width: 50%;" class="mt-5">決済手続きへ</button>
</div>
