<%= javascript_pack_tag 'users/stripe_checkout'%>
<h2 class="text-center">決済確認画面</h2>

<div class="charge-content mt-5">
  <p class="text-center fs-6">受講料金:<%= @charge_plan.amount %>円</p>
  <p class="text-center fs-6">支払方法:<%= @charge_plan.charge_type %></p>
</div>

<div id="privacyPolicy" class="privacy-policy m-auto mt-5">
<p class="text-center fw-bold fs-6">プライバシーポリシー <br >決済情報の取り扱い</p>
<p>1. Stripeを通じた決済処理</p>
  <p>当サイトでは、オンラインでの支払い処理の安全性を確保するために、
  国際的に認知されている決済サービスプロバイダーであるStripeを採用しています。</p>
  
  <p>Stripeは、高度なセキュリティ基準と暗号化技術を使用して、お客様のクレジットカード情報などの決済情報を保護します。
  これにより、当サイトはお客様の決済情報を直接取り扱うことなく、安全に支払い処理を行うことが可能になります。</p>

<p>2. 情報の提供と使用</p>
  <p>お客様がお支払いをする際、お客様のメールアドレスおよび支払い情報はStripeによって処理されます。
  お客様の情報は、購入手続きの完了、購入後のサポート、および将来の購入を容易にするためにのみ使用されます。
  当サイトおよびStripeは、これらの情報を他の目的で使用したり、第三者と共有したりすることはありません。</p>
</div>

<div class="text-center mt-5 form-check">
  <input type="checkbox" class="form-check-input" name="agreeCheckbox" id="agreeCheckbox" disabled>
  <label class="form-check-label" for="agreeCheckbox" disabled>プライバシーポリシーに同意する</label>
  <p class="fst-italic mt-3">※上記のプライバシーポリシーを最後までお読み下さい。</p>
</div>
<div class="text-center">
  <button id="goToOrderPage" class="mt-5" disabled>決済手続きへ</button>
</div>
