// cssサンプル
// stylesheet_pack_tag 'admins'が適応されている、app/views/layouts/admins.html.erbのレイアウトでこのcssファイルが適応されます。
// webpcker_dev_serverが起動しているので、開発環境ではcssが更新されると自動でフロント側に反映されます。

body {
  background-color: #e9ecef;
 }
 
.register-box {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  margin: 0 auto;
}

.card-body1 {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.dropdown-menu {
  min-width: 0px;
}

.nav-link:hover{
  background-color: #e9ecef;
}

.Editlink {
  text-decoration: none;
  color: white ;
}

.Editlink:hover {
  text-decoration: none;
  color: white ;
}
