<%= javascript_pack_tag "users/articles_new_and_edit" %>
<% provide(:title,  "記事編集") %>
<div class="content">
  <div class="container">
    <%= render "admins/articles/shared/article_form_and_preview", btn_name: "更新", url: admins_article_path(dashboard: @dashboard, page: params[:page]), method: :patch %>
  </div>
</div>
