<% flash.each do |key, value| %>
  <% alert_class = case key.to_sym
     when :notice then 'alert-info'
     when :alert then 'alert-warning'
     when :error then 'alert-danger'
     when :success then 'alert-success'
     else 'alert-secondary'
  end %>
  <p class="alert <%= alert_class %>">
     <%= value %>
     <!-- flashメッセージを×ボタンで消す -->
     <button type="button" class="close" data-dismiss="alert">&times;</button>
   </p>
<% end %>

<!-- 下記は、flashメッセージの×ボタンを機能させるスクリプト -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
$(function() {
 $(".close").on('click', function() {
   $(this).closest('.alert').hide();
 });
});
</script>