<div class="flash">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if flash[:notice] %>
   <div class="flash"><%= flash[:notice] %></div>
  <% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
<div>